{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}


<div class="row d-flex justify-content-center ">
    <div class="col-sm-4 shadow p-4 mt-5">
        <div class="caption text-center">
            <h2 id="thumbnail-label">{% trans "Account Inactive" %}</h2>
            <!-- <div class="thumbnail-description smaller">{% trans 'Are you sure you want to sign out?' %}</div> -->
        </div>
        <div class="caption card-footer text-center">
            <p class="ml-2 mr-2">{% trans "This account is inactive." %}</p>
        </div>
    </div>
</div>

<!-- </div> -->


{% endblock %}
