{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="row d-flex justify-content-center ">
    <div class="col-sm-4 shadow p-4 mt-5">
        <div class="caption text-center">
            <h2 id="thumbnail-label">{% trans "Password Reset" %}</h2>
            <!-- <div class="thumbnail-description smaller">{% trans 'Are you sure you want to sign out?' %}</div> -->
        </div>
        <div class="caption card-footer text-center">
            <div class="text-center">

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% blocktrans %}We have sent you an e-mail, if you can't find it in your <strong>inbox</strong> ,
                    please check your <strong>Social</strong> or <strong>Promotion</strong>. Please contact us if you do
                    not receive it within a few minutes.{% endblocktrans %}</p>
                <br>
            </div>
        </div>
    </div>
</div>


{% endblock %}
