{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="row d-flex justify-content-center ">
    <div class="col-sm-4 shadow p-4 mt-5">
        <div class="caption text-center">
            <h2 id="thumbnail-label">{% trans "Change Password" %</h2>
            <!-- <div class="thumbnail-description smaller">{% trans 'Are you sure you want to sign out?' %}</div> -->
        </div>
        <div class="caption card-footer text-center">
            <p class="text-center mt-2">{% trans 'Your password is now changed.' %} <a href="{% url 'account_login' %}">Sign
                in</a></p>
        </div>
    </div>
</div>

{% endblock %}
