{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="row d-flex justify-content-center ">
    <div class="col-sm-4 shadow p-4 mt-5">
        <div class="caption text-center">
            <h2 id="thumbnail-label">{% trans "Change Password" %}</h2>
            <!-- <div class="thumbnail-description smaller">{% trans 'Are you sure you want to sign out?' %}</div> -->
        </div>
        <div class="caption card-footer text-center">
            <form method="POST" action="{% url 'dashboard' %}" class="password_change text-center">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="{% trans 'Change Password' %}" class="btn mt-2"
                       style="background-color: #0e113c; color: whitesmoke; padding: 5px;">

            </form>
        </div>
    </div>
</div>


{% endblock %}
